@using Divo.Views.Shared
@{
    if (Model.Voting.Finished == true)
    {
        ViewData["ActivePage"] = ManageNavPages.HistoryIndex;
    }
    else
    {
        ViewData["ActivePage"] = ManageNavPages.Index;
    }

    ViewData["Title"] = "Stembussen";
}
@model Divo.ViewModels.VotingParticipantsViewModel

<h4>@Model.Voting.Name</h4>
<br />

@if (Model.Voting.Finished == true)
{
    <div class="alert alert-info" role="alert">
        <p>
            <strong>Deze stembus is gearchiveerd</strong>
        </p>
    </div>
}

<div>
    <h4>Deelnemende Partijen</h4>
    <hr />
    <dl class="row">
        @if (Model.Participants.Any())
        {
            @foreach (var party in Model.Participants)
            {
                <dt class="col-sm-2">
                    <a class="btn btn-default" asp-controller="Party" asp-action="Details" asp-route-id="@party.PartyId"><strong>@party.Party.Name</strong></a>
                </dt>
                <dd class="col-sm-10">
                    @party.Party.Description
                </dd>
            }
        }
    </dl>
    @if (!Model.Participants.Any())
    {
        <h6>@Model.Voting.Name heeft nog geen toegewezen deelnemers!</h6>
    }
</div>


<div class="row">
    <div class="col-md-4">
        <br />
        <h4>Actions</h4>
        <hr />
        <div>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Voting.Id">Terug</a>
        </div>
    </div>
</div>